/*HW-Wireframe*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color:#777;
    margin: 0 auto;
    width: 960px;
    font-size:18px;
}


header{
    width: 100%;
    background-color: #ebebeb;
    color:#777;
    text-align: center;
    margin-top:15px;
}

.container{
    width: 960px;
    margin: 0 auto;
}

h3{
    color:#777;
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

nav{
    width: 100%;
    background-color: #ebebeb;
    color:#777;
    text-align: center;
    margin-top:8px;
}

footer{
    width: 100%;
    background-color: #ebebeb;
    color:#777;
    text-align: center;
    clear:both;
}

main{
    width:60%;
    height:300px;
    background-color: #ebebeb;
    color:#777;
    text-align: center;
    float:left;
    display:block;
    margin-top:15px;
    margin-bottom: 15px;
}

.article{
    height:220px;
    width:95%;
    background-color:#777;
    color:#ebebeb;
    margin:0 auto;
}

.box1,
.box2{
    width:95%;
    background-color: #ebebeb;
    color:#777;
    text-align: center;
    margin: 0 auto;

}
.box1{
    margin-bottom:10px;
}

aside{
    width:39%;
    height:300px;
    background-color: #ebebeb;
    color:#777;
    text-align: center;
    float:right;
    margin-top:15px;
    margin-bottom: 15px;

}

